body {
    font-family: "Open Sans";
}

.text-primary {
    color: #FD6E0A;

}

.btn-primary {
    border-radius: 5px;
    color: #fff;
    background-color: #FD6E0A;
    border: 0;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    padding: 18px 36px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 100px;
}

.nav-title {
    color: black;
    font-size: 45px;
    font-weight: 800;
    line-height: normal;

}

nav>ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-right: 50px;
}

nav a {
    text-decoration: none;
    color: rgb(110, 107, 107);
}

.header {
    background-color: #FFF8F3;
    background-image: url('../images/header_bg.png'), url('../images/developer.png');
    background-repeat: no-repeat;
    background-position: bottom right, top left;

}

.banner {
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banner-content {
    max-width: 500px;
}

.banner .profile-pic {
    width: 500px;
}

.banner-greetings {
    font-size: 45px;
    color: #474747;
    margin-bottom: 0;
}

.banner-title {
    font-size: 85px;
    font-weight: 700;
    color: #181818;
    margin-top: 5px;
    margin-bottom: 20px;
}

.banner-description {
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    color: #757575;
    margin-top: 0;
}

main {
    max-width: 1140px;
    margin: 0 auto;
}

main section {
    margin-top: 130px;
}

.about {
    border-radius: 10px;
    background-color: #FFF8F3;
    padding: 130px;
    margin: 130px 0;
}

.section-title {
    color: #181818;
    text-align: center;
    font-size: 35px;
}

.section-description {
    color: #757575;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.about-info-container {
    display: flex;
    justify-content: space-around;
}

.about-info {
    text-align: center;

}

.info-title {
    font-size: 20px;
    line-height: 0px;
    color: #474747;
    /* margin-bottom: 0; */
}

.info-description {
    font-size: 20px;
    line-height: 2px;
    color: #474747;
    /* margin-top: 2px; */

}

#what-i-do {
    padding: 15px 150px 30px 150px;
}

.skill-container {
    display: flex;
    gap: 24px;
}

.skill {
    padding: 30px;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}


.skill-title {
    color: #181818;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

}

.skill-description {
    color: #757575;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;

}

.resume-container {
    display: flex;
    gap: 50px;

}

.resume-column {
    max-width: 500px;

}

.resume-column-title {
    color: #474747;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 30px;
}

.resume-item-title {
    color: #474747;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 0;
    margin-bottom: 10px;
}

.resume-item-institute {
    color: #757575;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-top: 0;
    margin-bottom: 20px;
}

.resume-item-description {
    color: #757575;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    margin-top: 0;
}

.resume-container hr {
    margin: 30px 30px 30px 0;
}

.download-cv {
    text-align: center;
    padding: 20px;
    margin-top: 50px;
}

footer {
    display: flex;
    gap: 100px;
    background: #FFF8F3;
    padding: 130px 200px;
    margin-top: 100px;
    ;
}

.footer-column {
    width: 50%;
    text-align: left;
}

.social-links a{
    margin-right: 25px;
}
.contact input[type="text"] , .contact input[type="email"],
textarea {
    display: block;
    padding: 18px 35px;
    margin-bottom: 25px;
    color: #757575;
    border-radius: 5px;
    background: #FFF;
    border: 0;
    width: 100%;

}

/* .section-title{
    color: #181818;
    text-align: left;
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
} */

.section-description{
    color:#474747;
    text-align: left;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 175% */
    margin-top: 20px;
    margin-bottom: 30px;
}